
@font-face {
  font-family: 'Gordita';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    local('gordita'),
    url('/public/assets/fonts/Gordita-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Gordita';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local('gordita'),
    url('/public/assets/fonts/Gordita-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Gordita';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    local('gordita'),
    url('/public/assets/fonts/Gordita-Regular.woff') format('woff2');
}

@font-face {
  font-family: 'Gordita';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    local('gordita'),
    url('/public/assets/fonts/Gordita-Light.woff2') format('woff2');
}
