@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-track: #f1f1f1;
  --bg-thumb: #ccc;
  --bg-thumbHover: #888;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Gordita', sans-serif;
  font-size: 14px;
  color: #1a162e;
}

html.dark {
  body {
    color: #fff;
  }
}

h1 {
  font-size: 26px;
  line-height: 38px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

p {
  font-size: 14px;
  line-height: 22px;
}

.card-main {
  padding: 30px;
  border-radius: 20px;
  background: var(--Secondary-Color-Background, #fff);
  box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

  @media screen and (max-width: 768px) {
    padding: 20px;
  }

  @media screen and (max-width: 480px) {
    padding: 15px;
  }
}

html.dark {
  .card-main {
    border-radius: 20px;
    background: var(--Dark-1, #171c28);
    box-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.2);
  }
}

// style default scrollbar
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--bg-track);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-thumb);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-thumbHover);
}
